body {
    display: flex;
    flex-direction: row;
}

.notes {
    flex: 1;
}

.editors {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.editors > .editor {
    flex: 1;
}

.editor > div {
    border: 1px solid black;
}
