*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    /* This is the default in basically every browser, but we depend on it, so it's here explicitly */
    margin: 8px;
}

.editors-with-error {
    display: grid;
    /* This could be expressed as 100cqb, if body were a container of the 'size' type with explicit height… */
    /* But, it's an additional complication, not supported everywhere, and it's not worth it */
    max-height: calc(100vh - 16px); /* 100vh - body margin */
}

.editors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-flow: column;
    overflow-y: auto;
}

.editor {
    border: 1px solid black;
    overflow: auto;
}
.cm-scroller {
    /* We allow x scrolling on the .editor, and it's better to have both scrollbars on the same element */
    overflow-x: initial!important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 2rem;
}
.title {
    font-size: 1.5em;
    font-weight: 600;
}
.header > button {
    font-weight: 600;
    cursor: pointer;
}

.message {
    position: relative;
    overflow-x: auto;
    background-color: #e55;
    color: #fff;
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    padding-right: 1.5em;
}
.message.hidden {
    display: none;
}
.message > #close-message {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0 4px;
}
.message > pre {
    margin: 0;
}

@media (max-width: 1200px) {
    body {
        grid-template-columns: 1fr;
        height: initial;
    }
    .editors-with-error {
        max-height: initial;
    }
    .editors-with-error > .message {
        position: sticky;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 8px;
    }
}

@media (max-width: 800px) {
    .editors {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}
